body{
    font-family: 'Island Moments', cursive;
font-family: 'Pushster', cursive;
margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
        display: flex;
        margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 55%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(black,orange);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.hope{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
